{% extends 'item/vxm/item/form/header.twig' %}
{% block input_ouritemID %}
	<div class="row">
		<div class="col-sm-6">
			<b>Our Item ID</b>
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control-plaintext form-control-sm" name="ouritemID" value="{{ item.ouritemid }}" readonly>
		</div>
	</div>
{% endblock %}
